extends layout

block content
    h1 Welcome to Mappie
    style.
      #map {
        height: 80%;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 60%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    div(id="floating-panel")
        input(id = "address" type = "textbox" value = "Berlin")
        input(id = "submit" type = "button" value = "Search")
        input(id = "add" type = "button" value = "Add")
    div(id = 'map')
    div(id="right-panel")
    script.
        console.log('hello there 👋')
        function initMap() {
        var Berlin = {lat: 52.516761, lng: 13.3843081};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: Berlin
        });
        var geocoder = new google.maps.Geocoder();
        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
          });
      }
      
      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
          const coordinData = JSON.stringify(results[0].geometry.location);
          const coordinate = JSON.parse(coordinData)
          
          document.getElementById('add').addEventListener('click', function() {
          console.log('Sending command: \n' + "axios.post('/location', {Name: '"
                    + address +"', Coordinate: '" + coordinate.lat + ',' + coordinate.lng + "'}).then(res => console.log(res.data))");
          const commandData = {};
          commandData.Name = address;
          commandData. Coordinate = coordinate.lat+','+coordinate.lng
          axios.post('/location', commandData).then(res => console.log(res.data))
          });
        });
      }
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQZFTZXjwBXhttTQjB2u8LjMZ1cpcde2o&callback=initMap")  
